body{
  background-color:#ecf2f5;
  /* position:relative; */
}
nav{
  background-color:#00b53f;
  color:#ffffff;
  height:50px;
}
.navigation a {
  color:#f2fbf5;
  text-decoration:none;
}
.hero{
  background-color:#00992d;
  height:200px;
  color:#ffffff;
}

footer{
  background-color:#00b53f;
  color:#ffffff;
 
}
.nav a {
  color:#f2fbf5;
  text-decoration:none;
}

#error-page{
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}